body {
  background-color: gainsboro;
  text-align: center;
}
h1, h2, ul, p, footer, address {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  font-weight: bold;
}
ul, p, address {
  font-size: 20px;
}

li {
  list-style: none;
}


.container {
    max-width: 600px;
    margin: 0 auto;
  }
